body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f3f4f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8f3ff;
    z-index: 0;
    background-image: url("bg-login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 25px;
    color: #212121;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.example {
    color: #6C727C;
    font-size: 12px;
    margin-bottom: 20px;
}

.help {
    text-align: right;
    margin-bottom: 20px;
}

.help a {
    color: #03AC0E;
    text-decoration: none;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #E8F3FF;
    color: #989EB3;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.or {
    text-align: center;
    margin-bottom: 20px;
    color: #6C727C;
    font-size: 14px;
}

.alt-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alt-btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-btn img {
    width: 20px;
    margin-right: 10px;
}

.register {
    position: absolute;
    top: 64px;
    right: 46px;
    
}

.register a {
    color: #03AC0E;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .background {
        background-position: center;
    }

    .register {
        position: absolute;
        top: 143px;
        right: 25px;
        
    }
}